@using TECH.Areas.Admin.Models
@model UserModelView
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="lien-he-voi-chung-toi" class="ftco-section">
   <div class="parallax-img d-flex align-items-center">
      <div class="container">
         <div class="row d-flex justify-content-center py-5">
            <div class="col-md-7 heading-section  fadeInUp d">
               <h2 class="text-center">Nhập mã xác thực</h2>
               <div class="row d-flex justify-content-center mt-5">
                  <div class="col-md-8">
                     <form action="#" method="#" id="Accuracy">
                        <div class="results"></div>
                        <div class="row">
                           <div class="col-md-12">
                              <div class="alert alert-warning">
                                 <p>Mã OTP được gửi tới <span class="text-email"></span> </p>
                              </div>
                           </div>
                           <div class="col-md-12">
                              <div class="form-group">
                                  <input type="number" name="verify" id="verify" placeholder="Mã xác thực" class="form-control" style="border-radius: 5px;">
                                  <span class="text-danger"></span>
                              </div>
                           </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" style="background-color: rgb(0, 0, 0); border-radius: 5px; border-color: rgb(0, 0, 0);">Tiếp tục</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
@section Scripts{
    <script src="~/admin/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#formUserDetail").validate({
                rules:
                {
                    current_password: {
                        required: true,
                    },
                    new_password: {
                        required: true
                    },

                },
                messages:
                {
                    current_password: {
                        required: "Bạn chưa nhập mật khẩu hiện tại",
                    },
                    new_password: {
                        required: "bạn chưa nhập mật khẩu mới",
                    },
                },
                submitHandler: function(form) {

                    var userView = {
                        id: $("#userId").val(),
                        current_password : $("#current_password").val(),
                        new_password:$("#new_password").val(),
                    };
                    $.ajax({
                        url: '/Admin/AppUsers/ChangeServerPassWord',
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            userId: $("#userId").val(),
                            current_password: $("#current_password").val(),
                            new_password: $("#new_password").val()

                        },
                        beforeSend: function() {
                            //Loading('show');
                        },
                        complete: function() {
                            //Loading('hiden');
                        },
                        success: function(response) {
                            if (response.success) {
                                window.location.href = "/home";
                              
                            }
                            else {
                                $(".results").show();
                            }
                        }
                    })
                }
            });
        })
    </script>
    }
