@using TECH.Areas.Admin.Models
@model List<ProductModelView>
<div data-v-0da8956e="">
    <section data-v-0da8956e="" class="ftco-section">
        <div data-v-0da8956e="" class="container">
            <div data-v-0da8956e="" class="row justify-content-center mb-3 pb-3">
                <div data-v-0da8956e="" class="col-md-12 heading-section text-center">
                    <h2 data-v-0da8956e="" class="mb-4">Sản phẩm bán chạy</h2>
                </div>
            </div>
        </div>
        <div data-v-0da8956e="" class="container">
            <div data-v-0da8956e="" class="cards">
                @foreach (var item in Model)
                {
                    decimal priceStr = 0;
                    @if (item.price.Contains(";"))
                                    {
                                      priceStr = Convert.ToDecimal(item.price.Split(";")[0]);
                                    }
                                    else
                                    {
                                      priceStr =   Convert.ToDecimal(item.price);
                                    }

                    <div data-v-0da8956e="" class="card product border-product">
                    <a data-v-0da8956e="" href="/chi-tiet-san-pham/@item.id" class="img-prod">
                        <img data-v-0da8956e="" src="/product-image/@item.avatar" alt="Colorlib Template" class="img-fluid product-img"> <!---->
                        <div data-v-0da8956e="" class="overlay"></div>
                    </a>
                    <div data-v-0da8956e="" class="text py-3 px-3">
                        <h3 data-v-0da8956e=""><a data-v-0da8956e="" href="/chi-tiet-san-pham/@item.id" class="name-product">@item.name</a></h3>
                        <div data-v-0da8956e="" class="price"><span data-v-0da8956e="" class="mr-2 price-color">@priceStr.ToString("#,###") <i data-v-0da8956e="">đ</i></span></div>
                        <!---->
                        <div data-v-0da8956e="" class="endow"><span data-v-0da8956e="" class="endow">@item.specifications</span></div>
                    </div>
                </div>
                }
                
            
            </div>
        </div>
    </section>
</div>

