@using TECH.Areas.Admin.Models
@model List<CategoryMenuCountModelView>
<div data-v-7b8a01fc="" class="col-md-4 col-lg-2 sidebar">
    <div data-v-7b8a01fc="" class="sidebar-box-2">
        <h2 data-v-7b8a01fc="" class="heading mb-4"><a data-v-7b8a01fc="" href="#">Danh mục</a></h2>
        <ul data-v-7b8a01fc="" class="categories">
            @foreach (var item in Model)
            {
                <li data-v-7b8a01fc="">
                    <a data-v-7b8a01fc="" href="/san-pham/@item.id">
                        <h6 data-v-7b8a01fc="">
                            @item.category_name <span data-v-7b8a01fc="">(@item.count_product)</span>
                        </h6>
                    </a>
                </li>
            }
            @*<li data-v-7b8a01fc="">
            <a data-v-7b8a01fc="" href="airpod">
            <h6 data-v-7b8a01fc="">
            AirPod <span data-v-7b8a01fc="">(1)</span>
            </h6>
            </a>
            </li>
            <li data-v-7b8a01fc="">
            <a data-v-7b8a01fc="" href="apple-watch">
            <h6 data-v-7b8a01fc="">
            Apple Watch <span data-v-7b8a01fc="">(1)</span>
            </h6>
            </a>
            </li>
            <li data-v-7b8a01fc="">
            <a data-v-7b8a01fc="" href="imac">
            <h6 data-v-7b8a01fc="">
            Imac <span data-v-7b8a01fc="">(1)</span>
            </h6>
            </a>
            </li>
            <li data-v-7b8a01fc="">
            <a data-v-7b8a01fc="" href="ipad">
            <h6 data-v-7b8a01fc="">
            Ipad <span data-v-7b8a01fc="">(1)</span>
            </h6>
            </a>
            </li>
            <li data-v-7b8a01fc="">
            <a data-v-7b8a01fc="" href="iphone">
            <h6 data-v-7b8a01fc="">
            Iphone <span data-v-7b8a01fc="">(4)</span>
            </h6>
            </a>
            </li>
            <li data-v-7b8a01fc="">
            <a data-v-7b8a01fc="" href="khac">
            <h6 data-v-7b8a01fc="">
            Khác <span data-v-7b8a01fc="">(3)</span>
            </h6>
            </a>
            </li>*@
        </ul>
    </div>
</div>

